.navbar {
  height: 80px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-size: 40px;
}

.menu {
  margin-left: 150px;
}
.btn{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}